<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Changing</title>
</head>
<body>
<p><a href="{{home_url}}"> Назад к списку</a> </p>
{% if img_obj %}
  <h3> {{name}}</h3>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

    {% for field in form %}
        <div >
            {{field.label_tag}}
            <div >{{field}}</div>
        </div>
    {% endfor %}
    <br>
    <button type="submit">Отправить</button>
</form>
{% if error %}
<p>{{error}}</p>
{% endif %}
<br>
  <img src="{{ img_obj.photo.url}}" alt="connect" style="max-height:300px">

{% endif %}

</body>
</html>