<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<h1><strong>Новое изображение</strong></h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {% for field in form %}
        <div >
            {{field.label_tag}}
            <div >{{field}}
                
            </div>


        </div>
    {% endfor %}
    <br>

  <button type="submit">Отправить</button>
</form>

{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.photo.url}}" alt="connect" style="max-height:300px">

{% endif %}
</body>
</html>